############################
# DATABASE (SUPABASE)
############################

# Prisma için (POOLER - önerilir)
DATABASE_URL=postgresql://postgres.xoeooaazripdcogtepfl:[YOUR-PASSWORD]@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true

# Migration için (DIRECT)
DIRECT_URL=postgresql://postgres.xoeooaazripdcogtepfl:[YOUR-PASSWORD]@aws-1-eu-central-1.pooler.supabase.com:5432/postgres

############################
# SUPABASE
############################

SUPABASE_URL=https://YOUR_PROJECT_ID.supabase.co

SUPABASE_ANON_KEY=YOUR_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY

############################
# AUTH
############################

JWT_SECRET=super_secret_jwt_key

############################
# APP
############################

NODE_ENV=development
PORT=3000